
<div class="container-fluid">
    <div class="row">
        <!-- <div class="header-logo">
            <img src="assets/images/header_logo.jpg" style="position: relative;
            top: -5px;"><span style="color:white">Canvas/Business Simulator </span>
            <p style="color:white;float:right;margin-right:30px;vertical-align:center;cursor: pointer;" *ngIf="!authenticated" (click)="logout()">logout</p>
        </div> -->
    </div>
    <div class="row">
      <nav aria-label="breadcrumb" style="background: #efeeee;width: 100%;">
        <ol class="breadcrumb" style="height: 30px;padding: 0.4rem;background: #efeeee">
          <button style="width: 40px;
              height: 30px;
              border: transparent;
              background: transparent;
               display: flex; font-style: bold;" (click)="back()" ><span class="material-icons">arrow_back</span></button>
          <li class="breadcrumb-item" style="margin-left: 10px;" >
            <a [href]="['/scenario']">Home</a> 
          </li>
          <li class="breadcrumb-item active" aria-current="page">NewScenario</li>
        </ol>
      </nav>
        <div class="new-scenario">
            <form class="create-scenario" [formGroup] = "simulationForm"  >
                <div class="row">

                <div class="col-lg-12 col-mg-12" *ngIf="!view_simulation">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Simulation Name</mat-label>
                    <input matInput placeholder="Enter Scenario name" formControlName="name">
                  </mat-form-field>
                  <p *ngIf="f.name.errors && submitted && f.name.errors.required" style="font-size: 10px;
                  color: red;
                  margin-top: -35px;">Name is required.</p>              
                </div>
              
                <div class="col-lg-12 col-mg-12" *ngIf="view_simulation">
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Simulation Name</mat-label>
                      <input matInput readonly placeholder="Enter Scenario name" [(ngModel)]="simulation_detail.name" formControlName="name">
                    </mat-form-field>
                    <p *ngIf="f.name.errors && submitted && f.name.errors.required" style="font-size: 10px;
                    color: red;
                    margin-top: -35px;">Name is required.</p>              
                </div>

                <div class="col-lg-6 col-mg-6 pr-4" *ngIf="!view_simulation">
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select  [(value)]="selectedCountry" formControlName="country_name" (selectionChange)="changeCountry(selectedCountry)">
                          <mat-option *ngFor="let c of countries" [value]="c">
                            {{c.country}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <p *ngIf="f.country_name.errors && submitted && f.country_name.errors.required" style="font-size: 10px;
                      color: red;
                      margin-top: -35px;">Country is required.</p>
                </div>

                <div class="col-lg-6 col-mg-6 pr-4" *ngIf="view_simulation">
                  <div class="simulation-title">Country:</div>
                  <div style="margin-top:10px; margin-bottom: 40px;">
                    {{simulation_detail.country}}</div>
                </div>

                <div class="col-lg-6 col-mg-6 pl-4" *ngIf="!view_simulation">
                  <div class="simulation-title">Analysis Period</div>
                  <div style="margin-top:10px;">{{selectedCountrytimeline}}</div>
                </div>

                <div class="col-lg-6 col-mg-6 pl-4" *ngIf="view_simulation">
                  <div class="simulation-title">Analysis Period:</div>
                  <div style="margin-top:10px;">{{simulation_detail.timeline}}</div>
                </div>
                
                <div class="col-lg-6 col-mg-6 pr-4" *ngIf="!view_simulation">
                    <div class="simulation-title">Category</div>

                    <button ngDefaultControl type="button" [(value)]="selectedCategory" 
                    (click)="selectCategory(category.category)" *ngFor="let category of categories" 
                    formControlName="simulation_category" class="simulation-for" 
                    [ngClass]="{'active': category.isClicked}" 
                    (click)="category.isClicked = (category.isClicked ? false :true )">
                      {{ category.category }}
                    </button>

                    <p  *ngIf="f.simulation_category.errors && submitted && f.simulation_category.errors.required" style="top: 30px;
                    position: relative;font-size: 10px;
                    color: red;
                    margin-top: -35px;">Category is required.</p>                 
                </div>

                <div class="col-lg-6 col-mg-6 pl-4" *ngIf="view_simulation">
                  <div class="simulation-title" style="margin-left: -7px;">Category:</div>
                  <div style="margin-top:10px; margin-left: -7px;">{{simulation_detail.category}}</div>
                </div>
              
                <div class="col-lg-6 col-mg-6 pl-5" *ngIf="!view_simulation">
                    <div class="simulation-title">Brand</div>
                    <button ngDefaultControl type="button" (click)="selectBrand(p)"  *ngFor="let p of brands" 
                      formControlName="brand" class="brand-btn" ngModel="selectedBands[]"
                      [ngClass]="{'active': p.isClicked}" 
                      (click)="p.isClicked = (p.isClicked ? false :true )" >
                      
                    <img class="brand" src="assets/images/pepsi_icon.png">{{p.brand}}</button>
                </div>

                <div class="col-lg-6 col-mg-6 pl-4" *ngIf="view_simulation">
                  <div class="simulation-title">Brand:</div>
                  <div style="margin-top:10px;">{{simulation_detail.brand_name}}</div>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <button  class="inputs-Cancel" [routerLink]="['/scenario']">Cancel</button>
              </div>
            <div class="col">
            <button *ngIf="!view_simulation || (simulation_detail.simulation_status == 0)"class="inputs-samulation" (click)="submit()" type="submit">Input Constraints</button>
            <button *ngIf="view_simulation && (simulation_detail.simulation_status == 1)" class="inputs-samulation" (click)="submit()" type="submit">View Constraints</button>
            </div>
        </div>
            <div *ngIf="successful" class="alert alert-success">
            </div>
            </form>
        </div>
    </div>
</div>



