::ng-deep.mat-dialog-container {
    border-radius: 20px !important;
 }
 .custom-modalbox.mat-dialog-container {
    border-radius: 20px !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}